@font-face {
  font-family: "KFGQPC-Hafs";
  src: url("/fonts/kfgqpc/hafs.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "KFGQPC-Warsh";
  src: url("/fonts/kfgqpc/warsh.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "KFGQPC-Qaloon";
  src: url("/fonts/kfgqpc/qaloon.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "KFGQPC-Shouba";
  src: url("/fonts/kfgqpc/shouba.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "KFGQPC-Doori";
  src: url("/fonts/kfgqpc/doori.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "KFGQPC-Soosi";
  src: url("/fonts/kfgqpc/soosi.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "KFGQPC-Bazzi";
  src: url("/fonts/kfgqpc/bazzi.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "KFGQPC-Qumbul";
  src: url("/fonts/kfgqpc/qumbul.woff2") format("woff2");
  font-display: swap;
}
